<!DOCTYPE html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      var map;
      var marker;

      function createInfoWindow(text){
      	var infowindow = new google.maps.InfoWindow({
      		content: text
      	})
      	return infowindow;
      }

      function createMarker(coords, map, title) {
        marker = new google.maps.Marker({
          position: coords,
          map: map,
          title: title
        });
        var info = createInfoWindow(marker.title);
        google.maps.event.addDomListener(marker,'click', function(){
        	info.open(map, marker);
        })
      }

      function initialize() {
        var mapOptions = {
          zoom: 10,
          center: new google.maps.LatLng(37.736414, -122.247953)
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
        createMarker({lat: 37.736414, lng: -122.247953}, map, "Home Base");
      }

      google.maps.event.addDomListener(window, 'load', initialize);

      

      //createMarker({lat: -34.397, lng: 150.644}, map, "MARKER")



    </script>
  </head>
  <body>
    <div id="map-canvas" style="height:75%;width:100%;box-shadow: 0px 5px 5px #000000;"></div>
    <div id="picture-container" style="background-color:#333333;height:75%;width:100%"></div>
  </body>
</html>




