<!DOCTYPE html>
  <head>
    <title>Simple Map</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      body{
        overflow: hidden;  /*no scrollbar nonsense*/ 
      }

    #map-canvas{
    height:100%;
    width:100%;
    }  

    #image-container {    
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    white-space: nowrap;

    background-color:#333333;
    height:25%;
    width:100%;
    box-shadow: 0px -3px 6px rgba(0,0,0,0.4);
    bottom:-100px; 
    position:absolute;
    display:none;
}

    .box {
    width: 20%;
    height: 100%;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

    .stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}      
    </style>

    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      var map;
      var noStreetViewInfoWindow; // InfoWindow message telling us the marker has no Street View
      var infoWindow;
      var markerArray = [];
      var panArray = [];
      var geocoder;
      var divCount = 0;
      var menuContent = '<p>Top 5 restaurants near me: ' + '<button>+</button>' + '</p>';

      function createInfoWindow(text, map, marker){
      	infoWindow = new google.maps.InfoWindow({
      		content: text
      	})
      	infoWindow.open(map,marker);
      }

      // creates new marker given lat/long of wherever you click, then pans to that new marker. 
      function createMarker(coords, map) {
        var marker = new google.maps.Marker({
          position: coords,
          animation: google.maps.Animation.DROP,
          map: map
        });
        markerArray.push(marker);
        map.panTo(marker.position);
        //var info = createInfoWindow(marker.title);

        // for each marker if you click it, you get the panorama street view image, which appears
        // in the "pano" div at the bottom of the page in the image container. 
        google.maps.event.addDomListener(marker,'click', function(event){   
          var panoramaOptions = {
  			   position: coords,
  			   pov: {
    			   heading: 0,
    			   pitch: 0
  					   },
           scrollwheel: false,
           linksControl: false,
           panControl: false,
           addressControlOptions: {
              position: google.maps.ControlPosition.TOP_RIGHT
              }
			     };
           
             // check if there is an info window for no street view
            // if(noStreetViewInfoWindow != null) {
            //   // if there is, close it
            //   noStreetViewInfoWindow.close();
            // }
            if(infoWindow != null){
              infoWindow.close();
            }
           // tests to see if street view panorama exists before displaying image in image-container. Also checks to see if pano image
           // is already displayed. 
           var svTest = new google.maps.StreetViewService();
           svTest.getPanoramaByLocation(coords, 50, function(data,status){
            // data.location is position of the pano image of the marker clicked
            if(status == "OK" && notInContainer(data.location)){
              // jquery to have image-container scroll from bottom on marker click
               if( $("#image-container").css('display', 'none')){
                    $('#image-container').animate({ 'bottom' : '0px' });     
                    $("#image-container").toggle();
                    var divID = "pano" + divCount;
                    // pano containers are added to image-container here
                    $( "#image-container" ).prepend( "<div class='box' id="+divID+"></div>" );
                    if( $("#image-container").children().length > 6){
                        $("#image-container").css('overflow-x', 'scroll');
                    }
              } //end of .css if statement
             
              
                    // here we actually get the street pano and display it in the pano container with id=divID
                    var panorama = new google.maps.StreetViewPanorama(document.getElementById(divID), panoramaOptions); 
                    panArray.push(panorama);
                    divCount++;

                    //hovering over pano image in image-container animates its associated marker on the map
                    $(document.getElementById(divID)).hover(function(){ 
                    if (marker.getAnimation() != null) {
                    marker.setAnimation(null);
                    } 
                    else {
                    marker.setAnimation(google.maps.Animation.BOUNCE);
                    map.panTo(marker.position);
                    }
                    }); //end of hover

            
            } //end of status == "OK" if statement
            // opens info window on marker if no street view is available
            // taking out to include left click menu. If no street view avaiable, it just won't display for now. 
            // else if(status != "OK"){
            //   var contentString = "No Street View Available";
            //   // infowindow.open(map,marker);
            //   noStreetViewInfoWindow = new google.maps.InfoWindow({
            //   content: contentString
            //   });
            //   noStreetViewInfoWindow.open(map,marker);
            // }  //end of else if
           }); // end of getPanoramaByLocation
        // right now info window is created on any marker click
        createInfoWindow(menuContent, map, marker);
        }); // end of on marker click
      }  // end of function

      // returns true if pano with location: coords is not in the image-container. Returns false if it is already there.
      function notInContainer(coords){
        for (i = 0; i < panArray.length; i++) {
            if(JSON.stringify(panArray[i].position) == JSON.stringify(coords.latLng)){
              return false;
            }
        }
        return true;
      }

      function notInMarkerArray(coords){
        for (i = 0; i < markerArray.length; i++) {
            if(JSON.stringify(markerArray[i].position) == JSON.stringify(coords.latLng)){
              return false;
            }
        }
        return true;
      }

      function codeAddress() {
      var address = document.getElementById('address').value;
      geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        var geocodeLatLng = {k: results[0].geometry.location.k,
                             D: results[0].geometry.location.D};
        var geocodeObject = {latLng: geocodeLatLng };              
        if(notInMarkerArray(geocodeObject)){
          map.setCenter(results[0].geometry.location);
          createMarker(results[0].geometry.location, map);
        }
      } 
      else {
      alert('Geocode was not successful for the following reason: ' + status);
          }
        }); // end of geocode()
      } // end of function

      // sets up the map object using mapOptions properties, creates 'home base' marker, and adds listener to the map object
      // so that on click you create a new marker.
      function initialize() {
        detectBrowser();
        geocoder = new google.maps.Geocoder();
        var mapOptions = {
          zoom: 10,
          center: new google.maps.LatLng(37.736414, -122.247953)
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
        createMarker({lat: 37.736414, lng: -122.247953}, map);

        google.maps.event.addDomListener(map, 'click', function(event){
            createMarker(event.latLng, map);
        });
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>

  <body>
    <div id="panel">
      <input id="address" type="textbox">
      <input type="button" value="Geocode" onclick="codeAddress()">
    </div>
    
    <div id="map-canvas"></div>
    <div id="image-container">
    <span class="stretch"></span>
    </div>
    

    <!-- <div class="menu"><ul><li>Button1</li><li>Button2</li><li>Button3</li></ul></div> -->
  </body>
</html>






