// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or vendor/assets/javascripts of plugins, if any, can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file.
//
// Read Sprockets README (https://github.com/sstephenson/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require jquery
//= require jquery_ujs
//= require turbolinks
//= require_tree .
var canCreateMarker = true;
var yelpArray = [];

function detectBrowser() {
  var useragent = navigator.userAgent;
  var mapdiv = document.getElementById("pano0");

  if (useragent.indexOf('iPhone') != -1 || useragent.indexOf('Android') != -1 ) {
    mapdiv.style.width = '100%';
    mapdiv.style.height = '100%';
  }
}


/**
 * Context menu when right-clicking a marker
 * @constructor
 */
function ContextMenu() {
  this.div_ = document.createElement('div');
  this.div_.id = 'context-menu';
  this.div_.innerHTML = 'Delete';

  var menu = this;
  google.maps.event.addDomListener(this.div_, 'click', function() {
    menu.removeMarker();
  });
}

ContextMenu.prototype = new google.maps.OverlayView();

ContextMenu.prototype.onAdd = function() {
  var contextMenu = this;
  var map = this.getMap();
  this.getPanes().floatPane.appendChild(this.div_);

  // mousedown anywhere on the map except on the menu div will close the
  // menu.
  this.divListener_ = google.maps.event.addDomListener(map.getDiv(), 'mousedown', function(e) {
    if (e.target != contextMenu.div_) {
      contextMenu.close();
    }
  }, true);
};

ContextMenu.prototype.onRemove = function() {
  google.maps.event.removeListener(this.divListener_);
  this.div_.parentNode.removeChild(this.div_);

  // clean up
  this.set('position');
  this.set('marker');
};

ContextMenu.prototype.close = function() {
  this.setMap(null);
};

ContextMenu.prototype.draw = function() {
  var position = this.get('position');
  var projection = this.getProjection();

  if (!position || !projection) {
    return;
  }

  var point = projection.fromLatLngToDivPixel(position);
  this.div_.style.top = point.y + 'px';
  this.div_.style.left = point.x + 'px';
};

/**
 * Opens the menu at a Marker
 */
ContextMenu.prototype.open = function(map, marker) {
  this.set('position', marker.position);
  this.set('marker', marker);
  this.setMap(map);
  this.draw();
  canCreateMarker = false;
};

/**
 * Deletes the marker
 */
ContextMenu.prototype.removeMarker = function() {
  var marker = this.get('marker');
  // set map of marker to null removes it from the map
  marker.setMap(null);
  // if there is a pano for this marker
  if(marker.pano) {
    // get the div element and remove it
    elem = document.getElementById(marker.pano.myDiv);
    elem.remove();
    // remove the pano from the array
    panArray.splice(panArray.indexOf(marker.pano), 1);

    // if that is the last pano, hide the image-container
    // less than or equal to 1 to take stretch element into account
    if($("#image-container").children().length <= 1) {
      // animate it back off screen
      // for some reason this doesn't work
      $("#image-container").animate({ "bottom" : "-120px" });
      $("#image-container").toggle("slow");
    }
  }
  // remove the marker from the array
  markerArray.splice(markerArray.indexOf(marker));

  // close the context menu
  this.close();
};

function sendMarkerToYelp(map){
// delete all yelp markers already on map before displaying new ones
if(yelpArray.length != 0){
 for (var i = 0; i < yelpArray.length; i++) {
    yelpArray[i].setMap(null);
  }
}
searchYelp(map,markerPosition);
}

// using yelp api we get food businesses near marker lat/lng. Sends post request
// to welcome#search which does the actual api call and we get back the callback object (data)
function searchYelp(map, markerLatLng){
var searchTerm = "food";
var coordinates = {latitude: markerLatLng.k, longitude: markerLatLng.D};
// post to the search with the search term, take the response data
// and process it
var bounds = new google.maps.LatLngBounds();
var LatLngList = [];
$.post('/search', { term: searchTerm, coordinates: coordinates }, function(data) {
// iterate through each business in the response capture the data
data['businesses'].forEach(function(business, index) {
// make array of LatLng objects of each yelp business
LatLngList.push(new google.maps.LatLng(business.location.coordinate.latitude, business.location.coordinate.longitude)); 
// extend bounds of map to include each yelp business' lat/lng
bounds.extend(LatLngList[index]);
createYelpMarker(map, business);
});
// fit bounds of map to bounds object
map.fitBounds(bounds);
map.setZoom(map.getZoom()-1);
});
}

// create yelp markers on map using lat/lng
function createYelpMarker(map, business){
  var coords = {lat: business.location.coordinate.latitude, lng: business.location.coordinate.longitude};
  var image = {url: '<%= asset_path 'yelp-marker.png' %>',
               size: new google.maps.Size(32, 32)};
  var yelpMarker = new google.maps.Marker({
          position: coords,
          animation: google.maps.Animation.DROP,
          map: map,
          icon: image
        });

  yelpArray.push(yelpMarker);
  var businessName = business.name;
  var streetName = business.location.address[0];
  var cityName = business.location.city;
  var stateName = business.location.state_code;
  var zipCode = business.location.postal_code;
  var phoneNumber = business.phone;
  var formattedNumber = phoneNumber.slice(0,3)+'-'+phoneNumber.slice(3,6)+'-'+phoneNumber.slice(6,10);
  var ratingImage = business.rating_img_url;
  var rating = business.rating; 

  var infowindowcontent = '<h4 id="business_name"><strong>'+businessName+'</strong></h4><br>';
  infowindowcontent += '<p id="streetName">'+streetName+'</p>';
  infowindowcontent += '<p id="cityLine">' + cityName+', '+stateName+' '+zipCode+'</p>';
  infowindowcontent += '<p id="businessURL"><a href="'+business.url+'" target="_blank">Click here for more info</a></p><br>';
  infowindowcontent += '<p id="phoneNumber">'+formattedNumber+'</p>';
  infowindowcontent += '<img id="businessImage" src="'+business.image_url+'"><br>';
  infowindowcontent += '<div>'+'<p id="rating">'+rating+'<img id="ratingImage"src="'+ratingImage+'">'+'</p>'+'</div>';
  
  var infowindow = new google.maps.InfoWindow();
  google.maps.event.addListener(yelpMarker, 'click', function() {
        infowindow.setContent(infowindowcontent);
        infowindow.open(map,yelpMarker);
    });
}
