function setStreetView(coords, yelpMarker){
    var panoramaOptions = {
               position: coords,
               pov: {
                   heading: 0,
                   pitch: 0
                       },
           scrollwheel: false,
           linksControl: false,
           panControl: false,
           addressControlOptions: {
              position: google.maps.ControlPosition.TOP_RIGHT
              }
                 };
	var svTest = new google.maps.StreetViewService();
    svTest.getPanoramaByLocation(coords, 50, function(data,status){
    	// data.location is position of the pano image of the marker clicked
        if(status == "OK"){
        	// jquery to have image-container scroll from bottom on marker click
            if( $("#image-container").css('display', 'none')){
            	$('#image-container').animate({ 'bottom' : '0px' });     
                $("#image-container").toggle();
                var divID = "pano" + divCount;
                // pano containers are added to image-container here
                $( "#image-container" ).prepend( "<div class='box' id="+divID+"></div>" );
                if( $("#image-container").children().length > 6){
                	$("#image-container").css('overflow-x', 'scroll');
                }
           	}
        	// here we actually get the street pano and display it in the pano container with id=divID
            var panorama = new google.maps.StreetViewPanorama(document.getElementById(divID), panoramaOptions); 
            panorama.myDiv = divID;
            yelpMarker.pano = panorama; // add pano variable to marker
            panArray.push(panorama);
            divCount++;

            //hovering over pano image in image-container animates its associated marker on the map
            $(document.getElementById(divID)).hover(function(){ 
            	if (yelpMarker.getAnimation() != null) {
            		yelpMarker.setAnimation(null);
            	} 
            	else {
            		yelpMarker.setAnimation(google.maps.Animation.BOUNCE);
                	map.panTo(yelpMarker.position);
            	}
            }); //end of hover
        } 
	});
}