/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.contextmenu{
  visibility:hidden;
  background:#ffffff;
  border:1px solid #8888FF;
  z-index: 10;
  position: relative;
  width: 140px;
}
.contextmenu div{
padding-left: 5px
}


#context-menu {
  position: absolute;
  background: white;
  padding: 3px;
  color: #666;
  font-weight: bold;
  border: 1px solid #999;
  font-family: sans-serif;
  font-size: 12px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, .3);
  margin-top: -10px;
  margin-left: 10px;
  cursor: pointer;
}
#context-menu:hover {
  background: #eee;
}

#business_name{
  margin-top: 0px;
  margin-bottom: 0px;
}

#streetName{
  margin: 0px;
  margin-top: -13px;
}

#cityLine{
  margin: 1px;
}

#rating{
  color: #F05D05;
  font-size: 20px;
  font-style: bold;
  margin: 0px;
}

#businessImage{
  margin-top: -19px;
}

#phoneNumber{
  margin-top: -25px;
  margin-bottom: 25px;
}

#ratingImage{
  margin-left: 5px;
}

a{
  color: #4272DB;
  text-decoration: none;
}

#reviewHeader{
  margin-top: 7px;
  border-bottom: 1px solid gainsboro;
  margin-bottom: 0px
}

#roundedRect{
  width: 35px;
  height: 35px;
  border-radius: 10%;
  overflow: hidden;
}

#username{
  margin-bottom: 3px;
  margin-top: 6px;
  color: #3B65A7;
  font-weight: bold;
  font-size: 11px;
}

#userImage{
  height: 40px;
  width: 40px;
}

#reviewRatingImg{
  margin-top: 3px;
  height: 11px;
}

#excerpt{
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 300px;
}

#excerpt-wrapper{
  margin-left: 0px;
  padding-left: 0px;
  border-left-width: 0px;
  margin-right: 0px;
  padding-right: 0px;
  display: inline-block;
  float: right;
  margin-top: 15px;
}

#user-wrapper{
  float: left;
  margin-right: 5px;
}